
#tools {
    background-color: rgba(33, 33, 36, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    z-index: 2000;
    opacity: 0.9;
}



.logo {
    position: absolute;
    width: 130px;
    height: auto;
    top: 0;
    left: 10px;
/*    padding: 0px 20px;*/
}

ul {
    margin: 0;
    list-style-type: none;
}

    ul.drop-down-menu {
        float: right;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 20px;
        padding: 5px 0px;
    }

        ul.drop-down-menu li {
            position: relative;
            white-space: nowrap;
        }

        ul.drop-down-menu > li:last-child {
            border-right: none;
        }

        ul.drop-down-menu > li {
            float: left;
            /* 只有第一層是靠左對齊*/
        }

        ul.drop-down-menu a {
            color: rgb(218, 216, 216);
            display: block;
            padding: 0 30px;
            text-decoration: none;
            line-height: 40px;
            font-family: Microsoft JhengHei;
        }

            ul.drop-down-menu a:hover {
                /* 滑鼠滑入按鈕變色*/
                background-color: #414040;
            }

        ul.drop-down-menu li:hover > a {
            /* 滑鼠移入次選單上層按鈕保持變色*/
            background-color: #414040;
        }
