.imgpicview {
    height: 200px;
    object-fit: contain;
}
.piccon {
    /*margin-bottom: 6px;
    margin-right: 6px;*/
    /*   border-radius: 5px;*/
    overflow: hidden;
    display: inline-block;
}

    .piccon img {
        transform: scale(1, 1);
        transition: all 0.2s ease-out;
    }

.piccon img:hover {
    transform: scale(1.1, 1.1);
}
