<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AlbumCore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link href="https://cdn.rawgit.com/sachinchoolur/lightgallery.js/master/dist/css/lightgallery.css" rel="stylesheet">*@
    @*<link rel="stylesheet" href="~/css/logotool.css" />*@
    <link rel="stylesheet" href="~/css/albumview.css?55" />
    <link rel="stylesheet" href="~/css/createpic.css" />
    <link rel="stylesheet" href="~/css/picsview.css?2" />
    <link rel="stylesheet" href="~/css/newcover.css?EE" />
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css" />
    @*<link rel="stylesheet" href="~/css/fancybox.css" />*@

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark tools border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AlbumView">Jorgy</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="CreateAlbum">CreateAlbum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - AlbumCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> <script src="~/js/pictools.js"></script>
    <script src="~/js/picdelete.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    @*<script src="~/js/iframe.js"></script>*@
    @*<script src="~/js/fancybox.js"></script>*@
    @*<script src="~/js/picsview.js"></script>*@
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.3/infinite-scroll.pkgd.min.js"></script>*@

    <script src="~/js/infinite-scroll.pkgd.min.js"></script>
    <script src="~/js/example.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
