
@{
    ViewData["Title"] = "AlbumView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="Albumdiv">
        <ul id="lightAlbum" class="Album-listrow">
            @{
                foreach (var image in ViewBag.Libs)
                {
                    <li class="Album-li">
                        <div class="photo-list-album-interaction">
                            <a asp-controller="Home" asp-action="PicsView" asp-route-Albumname="@image.Albumname">
                                <img class="img11" src=@Url.Content(image.smPath) alt="Thumb-1">
                                <div class="AlbumTitle">
                                    <h6 class="title">@image.Albumname</h6>
                                </div>
                            </a>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</div>
