
@{
    ViewData["Title"] = "PicsView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>PicsView</h1>


<div class="example">
    <div class="article">
        @{
            var safeStringValue = ViewBag.bigPath;
            foreach (var image in ViewBag.Pics)
            {
                <div class="piccon">
                    <a href=@Url.Content(image.bigPath) data-fancybox="images">
                        <img class="imgpicview" src=@Url.Content(image.smPath)>
                    </a>
                </div>

            }
        }
    </div>
    <!-- 捲軸狀態 -->
    <div class="scroller-status">
        <div class="infinite-scroll-request loader-ellips"></div>
        <p class="infinite-scroll-last">開始加載</p>
        <p class="infinite-scroll-error">沒有頁面可以讀取了</p>
    </div>
</div>
<script>
    var infScroll = new InfiniteScroll(".example", {
        path: function () {
            // 頁面路徑
            if (this.loadCount < 1) {
                return "https://output.jsbin.com/cuqowif"; // 讀取此頁面
            }
        },
        append: ".article", // 匯入物件類別
        status: ".scroller-status" // 捲軸狀態類別
    })
</script>
